@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.formItemTitle {
  width: 159px;
  height: 22px;
  @include text-form-style(Montserrat, normal, bold, 18px, 22px, left);
}

.inputErrorTitle {
  @include input-error-title-style(
    Montserrat,
    normal,
    normal,
    16px,
    20px,
    left
  );
}

.emailInput {
  &:active,
  &:focus {
    border: 1px solid $input-active-border-color;
  }
  padding: 10px;
  width: 500px;
  height: 70px;
  border: 1px solid $input-border-normal-color;
  @include input-container(
    border-box,
    16px,
    none,
    Montserrat,
    normal,
    normal,
    18px,
    22px
  );
}

.inputContainer {
  width: 500px;
  height: 70px;
  border: 1px solid $input-border-normal-color;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  align-items: center;

  &:active,
  &:focus {
    border: 1px solid $input-active-border-color;
  }

  input {
    padding: 10px;
    width: 100%;
    border: 0;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #5b5b5b;
  }
  .faEyeIcon {
    margin: 0 10px;
  }
}

.confirmPasswordContainer {
  width: 500px;
  height: 70px;
  border: 1px solid $input-border-normal-color;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  align-items: center;
  &:active,
  &:focus {
    border: 1px solid $input-active-border-color;
  }
  input {
    padding: 10px;
    width: 100%;
    border: 0;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $input-color-element-color;
  }
  .faEyeConfirmIncon {
    margin: 0 10px;
  }
}

.submitButton {
  margin-top: 30px;
  width: 500px;
  height: 70px;
  background: $btn-bg-color;
  border-radius: 16px;
  color: $btn-text-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  &:hover {
    background: $hover-btn-bg-color;
  }
  &:active {
    background: $active-btn-bg-color;
  }
}

.descriptionStyle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $form-text-color;
  .linkStyle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: $link-color;
  }
}

.emailInputError {
  border: 1px solid $error-text-color !important;
  color: $error-text-color;
}
