@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.formContainer {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 964px;

  background: $form-background-color;
  box-shadow: $form-box-shadow;
  border-radius: 16px;
  .textStyle {
    width: 239px;
    height: 29px;
    @include text-form-style(Montserrat, normal, bold, 24px, 29px, center);
  }
}
