//form component styles
$form-background-color: #ffffff;
$form-box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
$form-text-color: #5b5b5b;

//SignUp component styles
$form-item-title-color: #5b5b5b;
$error-title-color: #d23737;
$input-text-color: #5b5b5b;

//input element
$input-border-normal-color: #c1c1c1;
$input-active-border-color: #87d78b;
$input-color-element-color: #5b5b5b;
$input-error-color: #d23737;

//Submit button
$btn-bg-color: #3c9c41;
$btn-text-color: #ffffff;
$hover-btn-bg-color: #4db252;
$active-btn-bg-color: #318636;

//links
$link-color: #3c9c41;

//errors
$error-text-color: #d23737;
