@import '../../common/styles/variables';

.passwordWrapper {
  width: 500px;
  height: 70px;
  border: 1px solid $input-border-normal-color;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  align-items: center;
  &:active,
  &:focus {
    border: 1px solid $input-active-border-color;
  }

  .passwordInput {
    padding: 10px;
    width: 100%;
    border: 0;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $input-text-color;
  }

  .passwordInputError {
    color: $error-text-color;
  }

  .passwordEye {
    cursor: pointer;
    margin: 0 10px;
  }
}

.passwordWrapperError {
  border: 1px solid $input-error-color;
}
