@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.genderContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.formContainer {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 30px;

  @media screen and (max-width: 500px) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 0 35px 35px;
    background: $white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
  }

  .textStyle {
    @include text-form-style(Montserrat, normal, bold, 24px, 29px, center);
  }

  .formItemTitle {
    @include text-form-style(Montserrat, normal, bold, 18px, 22px, left);
  }

  .inputErrorTitle {
    @include input-error-title-style(
      Montserrat,
      normal,
      normal,
      16px,
      20px,
      left
    );
  }

  .emailInput {
    display: flex;
    width: 100%;
    padding: 10px;
    height: 70px;
    border: 1px solid $silver;

    &:active,
    &:focus {
      border: 1px solid $feijoa;
    }

    @include input-container(
      border-box,
      16px,
      none,
      Montserrat,
      normal,
      normal,
      18px,
      22px
    );
  }

  .inputContainer {
    height: 70px;
    border: 1px solid $silver;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    align-items: center;

    &:active,
    &:focus {
      border: 1px solid $feijoa;
    }

    input {
      padding: 10px;
      width: 100%;
      border: 0;
      outline: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #5b5b5b;
    }

    .faEyeIcon {
      margin: 0 10px;
    }
  }

  .confirmPasswordContainer {
    height: 70px;
    border: 1px solid $silver;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    align-items: center;

    &:active,
    &:focus {
      border: 1px solid $feijoa;
    }

    input {
      padding: 10px;
      width: 100%;
      border: 0;
      outline: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: $scorpion;
    }

    .faEyeConfirmIncon {
      margin: 0 10px;
    }
  }

  .submitButton {
    width: 100%;
    height: 70px;
    background: $apple;
    border-radius: 16px;
    color: $white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    &:hover {
      background: $chateauGreen;
    }

    &:active {
      background: $seaGreen;
    }
  }

  .descriptionStyle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $scorpion;
    
    .linkStyle {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-decoration-line: underline;
      color: $apple;
    }
  }

  .emailInputError {
    border: 1px solid $persianRed !important;
    color: $persianRed;
  }
}
